N8N_Workflow.json
{
  "name": "N8N_Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kU25aLgxsgsIo39A05kgEprDCBcaGIf",
          "mode": "list",
          "cachedResultName": "book",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kU25aLgxsgsIo39A05kgEprDCBcaGIf"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9400e9ab-1869-4506-afae-f9558d24028a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FeFhAMasga3tcwgQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "95526412-c43a-4033-bde0-1778e48d5f06",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FeFhAMasga3tcwgQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "embeddingBatchSize": 1,
        "options": {
          "pineconeNamespace": "book"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        512,
        -16
      ],
      "id": "c5adf668-63af-472a-9e1e-ac69b43ee2a6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qzqeYyWgz1FYB5s7",
          "name": "PineconeApi"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        192
      ],
      "id": "81fa3796-779e-4679-a5be-22b32abcc419",
      "name": "Embeddings OpenAI",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "zFkkPqjyfdLfsrqQ",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "BookName",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        656,
        192
      ],
      "id": "ba0b641a-6feb-44ac-ad30-469461af78ad",
      "name": "Default Data Loader",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        384
      ],
      "id": "0b29b4f4-26ae-47ac-a732-9c038a393a23",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Insert Document (pdf) From Google Drive to Vector Database (Pinecone)",
        "height": 800,
        "width": 1008,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -96
      ],
      "id": "af752536-b928-45ee-ad52-b07849df2817",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Read from VDB and answer user queries",
        "height": 928,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        -96
      ],
      "id": "ccfc3168-5a67-4217-8b80-cc47637233cc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "أنت خبير متخصص في السيرة النبوية، ودورك هو الإجابة عن أسئلة المستخدمين بناءً على محتوى كتاب كنوز السيرة للشيخ عثمان الخميس فقط.\n\nتعليمات يجب مراعاتها:\n\nالمرجعية: استند في إجابتك حصراً على المعلومات المسترجعة من الـ Vector Database الخاصة بالكتاب. إذا لم تجد المعلومة، قل بوضوح: عذراً، هذه المعلومة غير متوفرة في كتاب كنوز السيرة.\n\nالأسلوب: كن دقيقاً واستخدم لغة واضحة وبسيطة.\n\nالهيكلة: إذا كانت الإجابة طويلة، استخدم النقاط (Bullet points) لتنظيم الأحداث التاريخية.\n\nالسياق: عند ذكر حدث، ابدأ بذكر من هو القائل او المتحدث او لمن يرجع الحديث (إن وجد) والهدف من الحدث كما ورد في الكتاب.\n\nالأمانة العلمية: لا تضف أي قصص أو روايات خارجية لم تذكر في هذا المصدر تحديداً للحفاظ على دقة محتوى كنوز السيرة"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1216,
        0
      ],
      "id": "2e357c3a-35d8-445d-a478-c951f8ad6035",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1008,
        0
      ],
      "id": "27eee3a6-43ca-4a17-8d36-ef2317a601b2",
      "name": "When chat message received",
      "webhookId": "b00422d1-7b64-4657-a682-08de94d3a2dc"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1088,
        208
      ],
      "id": "1569d113-e6a4-4c75-a931-5db0e52e81ee",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zFkkPqjyfdLfsrqQ",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1232,
        208
      ],
      "id": "e5fcdaae-f32d-4eae-b303-c14527efcd9a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "كتاب كنوز السيرة للشيخ عثمان الخميس هو كتاب يتناول السيرة النبوية الشريفة بشكل مفصل، بدءاً من ما قبل ولادة النبي محمد صلى الله عليه وسلم وحتى وفاته، مع استخلاص الفوائد والدروس والعبر من حياته العطرة. \nمحتويات الكتاب:\nشمولية الموضوع: يغطي الكتاب مراحل حياة النبي كاملة، بما في ذلك مولده، طفولته، شباب، وبناء الكعبة، وبدء الدعوة، الهجرة، وغيرها من الأحداث الهامة.\nاستخلاص الفوائد: لا يقتصر على سرد الأحداث، بل يركز على استخراج الفوائد العملية والعبر من كل مرحلة، وهذا ما يميزه ويجعله كنوزاً للسيرة.\nالأسلوب: يتبع أسلوباً ميسراً ومباشراً، ويعتمد على جمع الروايات وبيان ما فيها من فوائد، ويقدمها بطريقة سهلة الفهم."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1360,
        288
      ],
      "id": "ff550214-7f2c-420a-b1fe-0af358207052",
      "name": "Answer questions with vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "options": {
          "pineconeNamespace": "book"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1200,
        480
      ],
      "id": "07d9e3a7-7967-4ea2-82c9-64a29e96711f",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "qzqeYyWgz1FYB5s7",
          "name": "PineconeApi"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        688
      ],
      "id": "0e53a13c-e658-4770-9048-bea4de7e4551",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "zFkkPqjyfdLfsrqQ",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1488,
        448
      ],
      "id": "435b9a06-8350-4059-ad0a-3660706b5603",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zFkkPqjyfdLfsrqQ",
          "name": "OpenAi"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f409e6f1-87a6-4594-9d43-24dde2e1003f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f366132df5f917431f6b7cb260292283dca254918e5213b802608d1e5eb9701"
  },
  "id": "StJ4oHF3jxivBoWNp4AWa",
  "tags": []
}